@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: 255, 255, 255;
	--text-color: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: 0, 0, 0;
		--text-color: 255, 255, 255;
	}
}

html {
	@apply antialiased;
	scroll-behavior: smooth;
	background-color: rgba(var(--bg-color), 1);
	color: rgba(var(--text-color), 1);
}

body {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

a:not(.clean) {
	text-decoration: underline;
	text-decoration-color: rgba(var(--text-color), 0.15);
	@apply transition-all duration-500;

	&:hover {
		text-decoration-color: rgba(var(--text-color), 1);
	}

	@media (prefers-color-scheme: dark) {
		& {
			text-decoration-color: rgba(var(--text-color), 0.55);
		}

		&:hover {
			text-decoration-color: rgba(var(--text-color), 0.9);
		}
	}
}

@media (prefers-color-scheme: dark) {
	.hover-bg {
		&:hover {
			background-color: rgba(var(--text-color), 0.0225);
		}
	}
}

.post-card {
	@apply w-full flex flex-col gap-4 max-w-md mx-auto rounded-3xl py-16 px-10;
	@apply text-base;
	box-shadow: 0 4px 4px hsl(0deg 0% 0% / 0.095), 0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
	border: 1px solid rgba(var(--text-color), 0.075);
	border-top: 1px solid rgba(var(--text-color), 0.033);
	border-inline: 1px solid rgba(var(--text-color), 0.066);

	.post-topic,
	.post-date {
		@apply font-light text-sm;
	}

	& .post-topic {
		@apply max-w-fit px-2 py-[1px] rounded-lg;
		color: rgba(var(--text-color), 1);
		background-color: rgba(var(--text-color), 0.05);

		&.tech,
		&.f1 {
			@apply bg-red-600/20 text-red-900;
		}

		&.design {
			@apply bg-pink-400/20 text-pink-900;
		}

		&.football {
			@apply bg-blue-400/20 text-blue-900;
		}
	}

	.post-content {
		@apply text-pretty text-xl;
	}
}

.footer-text {
	@apply font-light text-xs text-center;
	color: rgba(var(--text-color), 0.25);
}
