@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-color: 255, 255, 255;
	--text-color: 0, 0, 0;
	@media (prefers-color-scheme: dark) {
		& {
			--bg-color: 0, 0, 0;
			--text-color: 255, 255, 255;
		}
	}
}

html {
	@apply antialiased;
	scroll-behavior: smooth;
	background-color: rgba(var(--bg-color), 1);
	color: rgba(var(--text-color), 1);
}

body {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

a:not(.clean) {
	text-decoration: underline;
	text-decoration-color: rgba(var(--text-color), 0.15);
	@apply transition-all duration-500;

	&:hover {
		text-decoration-color: rgba(var(--text-color), 1);
	}

	@media (prefers-color-scheme: dark) {
		& {
			text-decoration-color: rgba(var(--text-color), 0.55);
		}

		&:hover {
			text-decoration-color: rgba(var(--text-color), 0.9);
		}
	}
}

.post-card {
	@apply w-full flex flex-col gap-4 max-w-md mx-auto rounded-3xl py-16 pt-10 px-10;
	@apply text-base;
	background-color: rgba(var(--text-color), 0.0125);
	@media (prefers-color-scheme: dark) {
		& {
			background-color: rgba(var(--text-color), 0.033);
		}
	}
	/* box-shadow: 0 4px 4px hsl(0deg 0% 0% / 0.08), 0 8px 8px hsl(0deg 0% 0% / 0.04), 0 16px 16px hsl(0deg 0% 0% / 0.02);
	*/
	box-shadow: 0 1px 2px hsl(0deg 0% 0% / 0.066), 0 4px 6px hsl(0deg 0% 0% / 0.066);
	border: 1px solid rgba(var(--text-color), 0.075);
	border-top: 1px solid rgba(var(--text-color), 0.0715);
	border-inline: 1px solid rgba(var(--text-color), 0.066);

	.post-date {
		@apply font-light text-xs;
	}

	& .post-topic {
		@apply max-w-fit px-2 py-[1px] rounded-lg font-light text-sm;
		color: rgba(var(--text-color), 0.85);
		background-color: rgba(var(--text-color), 0.05);
		@apply dark:bg-white/[0.15];

		&.tech,
		&.f1 {
			@apply bg-red-600/20 dark:bg-red-600/50 text-red-900 dark:text-red-200;
		}

		&.design {
			@apply bg-pink-400/20 text-pink-900 dark:bg-pink-600/50 dark:text-pink-200;
		}

		&.football {
			@apply bg-blue-400/20 text-blue-900 dark:bg-blue-600/50 dark:text-blue-200;
		}
	}

	.post-image {
		@apply max-w-full h-auto mx-auto my-auto;
		@apply rounded-2xl mb-4;
	}

	.post-content {
		@apply text-pretty text-xl;
	}

	.post-reply {
		@apply flex flex-col gap-4 p-3 pb-4 rounded-xl relative;
		background-color: rgba(var(--text-color), 0.025);
		@media (prefers-color-scheme: dark) {
			& {
				background-color: rgba(var(--text-color), 0.04);
			}
		}
		box-shadow: 0 2px 2px hsl(0deg 0% 0% / 0.1), 0 8px 8px hsl(0deg 0% 0% / 0.012);
		@apply transition-all duration-300 active:scale-[0.975] active:rotate-1 hover:scale-[1.025] hover:-rotate-1 hover:isolate;

		&::after {
			content: "";
			fill: rgba(var(--text-color), 0.0225);
			background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXBhcGVyY2xpcCI+PHBhdGggZD0ibTIxLjQ0IDExLjA1LTkuMTkgOS4xOWE2IDYgMCAwIDEtOC40OS04LjQ5bDguNTctOC41N0E0IDQgMCAxIDEgMTggOC44NGwtOC41OSA4LjU3YTIgMiAwIDAgMS0yLjgzLTIuODNsOC40OS04LjQ4Ii8+PC9zdmc+);
			filter: drop-shadow(0 2px 2px hsl(0deg 0% 0% / 0.1), 0 8px 8px hsl(0deg 0% 0% / 0.012));
			@apply absolute -top-2 -left-2 -rotate-[55deg] h-10 aspect-square bg-center bg-no-repeat;
			filter: invert(100%) brightness(0.33);
			@apply transition-all duration-300;
		}

		&:hover {
			box-shadow: 0 4px 4px hsl(0deg 0% 0% / 0.04), 0 8px 8px hsl(0deg 0% 0% / 0.022), 0 16px 16px hsl(0deg 0% 0% / 0.025);
			&::after {
				@apply -rotate-[47deg];
			}
		}
	}
}

.footer-text {
	@apply font-light text-xs text-center;
	color: rgba(var(--text-color), 0.25);
}

.new-post {
	@apply fixed p-1 w-full flex bottom-0 left-0 h-[64px] z-[2];
	background: rgba(var(--bg-color), 1);
	border-top: 1px solid rgba(var(--text-color), 0.099);

	input[type="text"] {
		@apply focus:outline-0 active:outline-0;
		@apply flex-1 text-base p-2 px-3;
		background-color: transparent;
		@apply min-h-fit;
	}

	.add-button,
	button.submit {
		@apply rounded-md aspect-square grid place-items-center px-2;
	}
}

button.sign-in {
	@apply rounded-md px-4 py-2 mb-2;
	background-color: rgba(var(--text-color), 0.033);
	border: 1px solid rgba(var(--text-color), 0.099);
	&:hover {
		background-color: rgba(var(--text-color), 0.066);
	}
}

input.sign-in {
	@apply rounded-md px-4 py-2 bg-inherit border mb-6;
	border: 1px solid rgba(var(--text-color), 0.125);
}

.img-card {
	@apply absolute w-[100px] lg:w-[120px] aspect-square rounded-3xl transition-all m-5 top-0 right-0;
}
